<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>
<div style="padding-bottom:20px ">
    <button class="btn btn-success" routerLink="/ReactiveForm">Reactive Form </button>
    <button class="btn btn-info" routerLink="/BulletChart">Bullet Chart </button>
    <button class="btn btn-warning" routerLink="/Calender">Calender </button>
    <button class="btn btn-success" routerLink="/PieDountChart">Pie, Dount Chart </button>
    <button class="btn btn-default" routerLink="/ColumnBarChart">Column, Bar Chart </button>
    <button class="btn btn-danger" routerLink="/LiveChart">Live performance Chart </button>
    <button class="btn btn-success" routerLink="/LiveColumnUpdateChart">Live Column Update Chart </button>
    <button class="btn btn-info" routerLink="/RateRibbonLoader">Rate, Ribbon, Loader </button>
    <button class="btn btn-danger" routerLink="/TaggingTooltipSlider">Tagging, Tooltip, Slider </button>
    <button class="btn btn-success" routerLink="/DatatableGridPivotegrid">Datatable, Grid, P_grid</button>

 <button class="btn btn-primary" routerLink="/Editor">Editor</button>
 <button class="btn btn-primary" routerLink="/UploadfileNotification">Upload Noti</button>


</div>

<router-outlet style="margin-left: 100px"></router-outlet>